aiogram>=3.4.1
fastapi>=0.109.2
uvicorn[standard]>=0.27.1
SQLAlchemy>=2.0.25
asyncpg>=0.29.0
alembic>=1.13.1
pydantic-settings>=2.1.0
redis>=5.0.1
asyncssh>=2.14.1
APScheduler>=3.10.4
passlib>=1.7.4
bcrypt>=4.1.2
python-dotenv>=1.0.1
greenlet>=3.0.3
aiosqlite>=0.20.0
matplotlib
python-multipart
httpx
pasarguard

